.baner {
  width: 4400px;
  background: $colorBlack;
  color: $colorWhite;
  .baner-text {
    display: flex;
    align-items: center;
    animation: scroll 30s linear infinite;
    p {
      padding: 0px 200px;
      font-size: 0.8rem;
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2200px);
  }
}
