.cart {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  > p {
    font-size: 1.2rem;
  }
}
.cart-conten {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  .cart-conten-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-conten-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-titles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ececec;
    margin-bottom: 10px;
  }

  .total-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    .total-title {
      width: 100%;
      border-bottom: 2px solid #ececec;
    }
    .subtotal-conten {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .subtotal-price {
        display: flex;
        font-weight: bold;
        gap: 1px;
        p {
          font-size: 0.8rem;
        }
        .price {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
    .shipping-conten {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 10px;
      .shipping-select {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
        .shipping-title {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
        }
        .freeShipping {
          margin-left: 20px;
          font-size: 1rem;
          font-family: "Yomogi", cursive;
        }
        .shipping-from-price {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .form-shipping-conten {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            .form-shipping {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 5px;
              margin-left: 20px;
              .shipping-inputs {
                display: flex;
                align-items: center;
                gap: 10px;
                .input-shipping {
                  &:hover + label {
                    color: $colorBlack;
                  }
                  &:checked + label {
                    color: $colorBlack;
                  }
                }
                label {
                  font-size: 0.8rem;
                  color: #838383;
                  transition: 0.3s ease;
                  &:hover {
                    color: $colorBlack;
                  }
                }
              }
              .input-shipping {
                &:checked ~ .form-shipping label {
                  color: $colorBlack;
                }
              }
            }
            p {
              font-size: 0.7rem;
            }
          }
          .shipping-price {
            opacity: 0;
            display: flex;
            font-weight: bold;
            gap: 1px;
            p {
              &:nth-child(2) {
                font-size: 0.8rem;
              }
            }
            .price {
              font-size: 1rem;
              font-weight: bold;
            }
          }
          .shipping-price-show {
            opacity: 1;
          }
        }
      }
    }
    .coupon-conten {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 10px;
      .coupon-title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
      }
      .coupon-input-desc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .coupon-input-conten {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding: 5px 0px;
          .coupon-input {
            width: 130px;
            padding: 5px;
            border: none;
            outline: none;
            border-bottom: 2px solid #ececec;
          }
          .coupon-button {
            all: unset;
            padding: 5px 7px;
            border-radius: 6px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.372);
            cursor: pointer;
            overflow: hidden;
            transition: 0.3s ease;
            &:active {
              transform: scale(0.97);
            }
            &:hover {
              background: $colorBlack;
              color: $colorWhite;
            }
          }
        }
        .coupon-desc {
          opacity: 0;
          display: flex;
          font-weight: bold;
          gap: 1px;
          p {
            &:nth-child(1) {
              padding-right: 10px;
            }
            &:nth-child(2) {
              font-size: 0.8rem;
            }
          }
          .price {
            font-size: 1rem;
            font-weight: bold;
          }
        }
        .coupon-desc-show {
          opacity: 1;
        }
      }
    }
    .total-total-price {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px 5px 0px;
      border-top: 1px solid #ececec;
      border-bottom: 2px solid #ececec;
      margin-bottom: 10px;
      .total-price {
        display: flex;
        font-weight: bold;
        gap: 1px;
        p {
          font-size: 0.8rem;
        }
        .price {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
.cardPrevius {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  .cardPreviusItems {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    .img-info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      .imgCartPrevius {
        width: 50px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.372);
      }
      .infoPrevius {
        justify-self: flex-start;
        .infoTitle {
          font-size: 0.9rem;
          font-weight: bold;
        }
        .infoCant {
          font-size: 0.8rem;
          color: #6c6c6c;
        }
        .infoFin {
          display: flex;
          align-items: center;
          gap: 5px;
          .fin {
            font-size: 0.8rem;
          }
          .visa {
            width: 30px;
          }
        }
      }
    }
    .cant-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cant-text {
        display: none;
      }
      .cant-number-button {
        display: flex;
        align-items: center;
        gap: 5px;
        .cant-number {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 5px;
        }
        .cant-button_contain {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .cant-button {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              border-radius: 6px;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.372);
            }
          }
        }
      }
    }
    .delete-price {
      align-self: center;
      width: 100px;
      display: flex;
      justify-content: space-between;
      .cartDelete {
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          color: $colorRed;
        }
      }
      .price-conten {
        display: flex;
        font-weight: bold;
        gap: 1px;
        p {
          font-size: 0.8rem;
        }
        .price {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
.cart-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  .total-cart-button {
    all: unset;
    align-self: flex-end;
    padding: 5px 7px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.372);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease;
    text-transform: uppercase;
    &:active {
      transform: scale(0.97);
    }
    &:hover {
      background: $colorBlack;
      color: $colorWhite;
    }
  }
}

.cart-return {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $colorBlack;
  text-decoration: none;
  transition: 0.4s;
  &:hover {
    color: $colorRed;
  }
}

@media (min-width: 550px) {
  .cart-conten {
    .cardPrevius {
      .cardPreviusItems {
        .cant-container {
          flex-direction: row;
          gap: 10px;
          .cant-text {
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .cart-conten {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }
  .total-cart {
    border-left: 1.5px solid #ececec;
    padding-left: 20px;
  }
}
