.checkout-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-titles {
  width: 100%;
  border-bottom: 2px solid #ececec;
  margin-bottom: 30px;
}
.form-contact-cart {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  .cart-card-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }
  .cart-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .cart-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
  .contact-cart-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  .contact-cart-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s ease;
    padding-bottom: 10px;
    position: relative;
    .contact-item-text {
      position: absolute;
      z-index: -1;
      top: 0.5rem;
      left: 0.5rem;
      transition: 0.2s ease;
    }
    .contact-item-text-up {
      font-size: 0.8rem;
      top: -1rem;
      left: 0;
      transition: 0.2s ease;
    }
    .contact-item-input {
      all: unset;
      width: 100%;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      padding: 0.5rem;
      transition: 0.3s ease;
      &:hover {
        border-bottom: 1px solid $colorRed;
      }
    }
    .conten-select-country {
      width: 100%;
      position: relative;
      &:hover i {
        margin-top: 3px;
      }
      .select-country {
        appearance: none;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 1rem;
        outline: 0;
        border: 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        transition: 0.3s ease;
        &:hover {
          border-bottom: 1px solid $colorRed;
        }
        &::-ms-expand {
          display: none;
        }
      }
      i {
        position: absolute;
        z-index: -1;
        right: 20px;
        top: calc(50% - 13px);
        width: 14px;
        height: 14px;
        display: block;
        border-left: 2px solid $colorRed;
        border-bottom: 2px solid $colorRed;
        transform: rotate(-45deg);
        transition: all 0.25s ease;
      }
    }
  }
  .contact-item-input {
    all: unset;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0.5rem;
    transition: 0.3s ease;
    &:hover {
      border-bottom: 1px solid $colorRed;
    }
  }
  .country {
    padding-bottom: 9px;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    .card-view-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .card-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .card-expiry-cvc {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
        }
      }
    }
  }
  .checkout-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
    margin-bottom: 30px;
    .footer-benefits,
    .financiacion-chechout {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: center;
      gap: 20px;
    }
    .footer-checkout-title {
      font-size: 0.9rem;
      display: flex;
      align-items: flex-start;
      img {
        width: 80px;
      }
    }
    .checkout-benefits {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
      gap: 10px;
      .benefits {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        .check{
          color: #4fb6ec;
        }
        p {
          width: 100%;
          color: #838383;
          font-size: 0.8rem;
        }
      }
    }
    .fin-chechout {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        font-size: 0.9rem;
      }
      div {
        align-items: center;
        background: #00a650;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 6px 8px 4px;
        span {
          color: $colorWhite;
          font-size: 0.7rem;
        }
      }
    }
    .cart-footer-checkout {
      width: 100%;
      display: flex;
      margin-left: 20px;
      gap: 10px;
      img {
        width: 70px;
      }
      .mercadoPago {
        width: 90px;
        margin-left: -10px;
      }
    }
  }
  .condition-checkout {
    strong {
      cursor: pointer;
    }
  }
  .politic-checkout {
    color: #838383;
    font-size: 0.8rem;
    align-items: center;
    margin-bottom: 30px;
    strong {
      cursor: pointer;
    }
  }
}
@media (min-width: 500px) {
  .form-contact-cart {
    .contact-cart-block {
      flex-direction: row;
    }
  }
}
@media (min-width: 700px) {
  .form-contact-cart {
    .card {
      .card-view-inputs {
        flex-direction: row;
        gap: 30px;
      }
    }
    .checkout-footer {
      flex-direction: row;
      gap: 50px;
    }
  }
}
@media (min-width: 1000px) {
  .form-contact-cart {
    .cart-card-form {
      flex-direction: row;
      align-items: flex-start;
      gap: 35px;
    }
    .contact-cart-block {
      flex-direction: column;
    }
    .card {
      border-left: 1.5px solid #ececec;
      padding-left: 20px;
      .card-view-inputs {
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}
