.pagination-conten {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s ease;
    &:nth-child(3) {
      display: none;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &:nth-child(5) {
      display: none;
      opacity: 0.5;
      cursor: text;
    }
    .item-number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $colorRed;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        color: $colorWhite;
      }
    }
    .item-link {
      text-decoration: none;
      color: $colorBlack;
    }
  }
  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(4) {
      display: none;
    }
  }
}

.paginationCheck {
  .pagination-item {
    &:nth-child(1) {
      display: none;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &:nth-child(3) {
      display: flex;
      opacity: 1;
      cursor: text;
    }
  }
  > p {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(4) {
      display: flex;
    }
  }
}

.paginationPay {
  .pagination-item {
    &:nth-child(1) {
      display: none;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &:nth-child(3) {
      display: none;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &:nth-child(5) {
      display: flex;
      cursor: text;
      opacity: 1;
    }
  }
}

@media (min-width: 500px) {
  .pagination-conten {
    .pagination-item {
      &:nth-child(3) {
        display: flex;
      }
    }
    p {
      &:nth-child(4) {
        display: flex;
      }
    }
  }
  .paginationCheck {
    .pagination-item {
      &:nth-child(1) {
        display: flex;
        opacity: 0.5;
      }
      &:nth-child(3) {
        display: flex;
      }
    }
    > p {
      &:nth-child(2) {
        display: flex;
      }
    }
  }
  .paginationPay {
    .pagination-item {
      &:nth-child(3) {
        display: flex;
      }
    }
  }
}
@media (min-width: 800px) {
  .pagination-conten {
    .pagination-item {
      &:nth-child(5) {
        display: flex;
      }
    }
  }
  .paginationPay {
    .pagination-item {
      &:nth-child(1) {
        display: flex;
      }
    }
  }
}
